@font-face {
    src: url('../assets/fonts/bold.otf');
    font-family: Manrope;
    font-weight: bold;
}

@font-face {
    src: url('../assets/fonts/regular.otf');
    font-family: Manrope;
    font-weight: normal;
}

.loading {
    display: block;
    text-align: center;
    margin: 0 auto;  
}

h1, h2, h3 {
    font-weight: bold;
}

p + ul > li {
    margin-left: 5%; 
}

li > ul {
    margin-left: 5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: #ffcb00;
    font-family: Manrope !important;
    color: #323593;
}

img {
    max-width: 100%;
}


.navbar {
    background-color: #fff;
    text-align: center;
}

.navbar-brand > a > img {
    width: 150px;
}

.nav-item > a {
    color: #323593 !important;
    font-size: 14px;
}

button:focus {
    outline: none;
}

.navbar-light .navbar-toggler {
    color: #fff !important;
    border: none !important;
    font-size: 14px;
    padding: 10px !important;
    background-color: #323593;
    font-family: Manrope;
    /* margin-top: 10px; */
}

@keyframes pulse {
    0% { 
        opacity: 0.8;
    }
    50% { 
        opacity: 1;
    }
    100% { 
        opacity: 0.8;
    }
}@-webkit-keyframes pulse {
    0% { 
        opacity: 0.8;
    }
    50% { 
        opacity: 1;
    }
    100% { 
        opacity: 0.8;
    }
}

.pulse {
    animation: pulse 1s infinite;
    font-weight: bold;
}

/* Hero */

.hero-img, .meet-img{
    margin-top: 15vh;
}

.hero-tagline, .meet-tagline, .clean-tagline {
    font-weight: bold;
    margin-top: 30vh;
}

.hero-text > a {
    background-color: #323593;
    color: #fff;
    border-radius: 48px;
    padding: 10px 20px;
}

/* meet yellow glove */
.meet-yellow-glove {
    margin-top: 100px;
    color: #fff;
    background-color: #323593;
    padding-top: 50px;
    padding-bottom: 50px;
}

.meet-img {
    max-width: 80%;
    display: block;
    margin: 10vh auto 0;
}

.meet-h1 {
    text-align: center;
    font-weight: bold;
}

/* services */
.services {
    padding-top: 100px;
    padding-bottom: 100px; 
}

.ease-img {
    max-width: 50%;
    max-height: 30%;
    margin: 100px auto 25px;
    display: block;
}

h4 {
    text-align: center;
    font-weight: bold;
}

.ease-text {
    width: 50%;
    text-align: center;
    display: block;
    margin: 15px auto;
    font-size: 18px;
}

/* footer */

.discount-img {
    width: 50%;
    margin: 0 auto 30px;
    display: block;
}

.discount-link {
    color: #323593 !important;
    background-color: #fff !important;
    font-weight: bold;
    font-size: 1.25em !important;
}

.footer {
    padding-left: 5%;
    /* display: block; */
}

.footer-link {
    background-color: transparent !important;
    padding: 0 !important;
}

.footer-img {
    width: 80%;
}

.socials, .socials > i{
    margin-right: 15px;
    font-size: 1.35em;
}

.footer-text, .footer-link {
    font-size: 16px ;
}

.footer-text > strong {
    font-size: 1.25em;
}


@media screen and (min-device-width: 320px) and (max-device-width: 359px){
    .navbar {
        background-color: #ffffffff !important;
        background: #fff !important;
        z-index: 999;
        width: 100%;
        opacity: 1;
        position: sticky !important;
        top:0;
        display: block;
    }
    h2 {font-size: 24px;}
    h3 {
        font-size: 21px;
    }
    p {
        font-size: 12px;
    }
    .hero-tagline, .meet-h1, .meet-tagline, .clean-tagline{
        font-size: 28px;
    }
    .hero-text, .hero-text > a, .footer-text {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .hero-text > a {
        margin: 15px auto 25px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .meet-tagline, .clean-tagline {
        margin-top: 25px;
    }
    .meet-img {
        margin-top: 15px;
    }
    .meet-yellow-glove {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 25px;
    }
    .services {
        padding-top: 25px;
        padding-bottom: 25px; 
    }    
    .ease-img {
        max-width: 50%;
        max-height: 30%;
        margin: 15px auto 25px;
        display: block;
    }    
    .ease-text {
        width: 80%;
        text-align: center;
        display: block;
        margin: 15px auto 0;
        font-size: 18px;
    }
    .discount-img {
        width: 90%
    }
    .footer-text > strong {
        font-size: 1.15em;
    }
}

@media screen and (min-device-width: 360px) and (max-device-width: 375px){
    .navbar {
        background-color: #ffffffff !important;
        background: #fff !important;
        z-index: 999;
        width: 100%;
        opacity: 1;
        position: sticky !important;
        top:0;
        display: block;
    }
    h2 {font-size: 24px;}
    h3 {
        font-size: 21px;
    }
    p {
        font-size: 14px;
    }
    .hero-tagline, .meet-h1, .meet-tagline, .clean-tagline{
        font-size: 28px;
    }
    .hero-text, .hero-text > a, .footer-text {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .hero-text > a {
        margin: 15px auto 25px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .meet-tagline, .clean-tagline {
        margin-top: 25px;
    }
    .meet-img {
        margin-top: 25px;
    }
    .meet-yellow-glove {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px; 
    }
    .ease-img {
        max-width: 50%;
        max-height: 30%;
        margin: 15px auto 25px;
        display: block;
    }    
    .ease-text {
        width: 80%;
        text-align: center;
        display: block;
        margin: 15px auto 0;
        font-size: 18px;
    }
    .discount-img {
        width: 90%
    }
    .footer-text > strong {
        font-size: 1.15em;
    }
}

@media screen and (device-width: 375px) and (device-height: 812px){
    .navbar {
        background-color: #ffffffff !important;
        background: #fff !important;
        z-index: 999;
        width: 100%;
        opacity: 1;
        position: sticky !important;
        top:0;
        display: block;
    }
    .hero-tagline{
        font-size: 36px;
    }
    .hero-img {
        margin: 8vh auto 30px !important;
    }
    .hero-text, .hero-text > a {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .hero-text > a {
        margin: 35px auto 35px !important;
    }
    .mob-hide {
        display: none;
    }
    .meet-yellow-glove {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
}

@media screen and (min-device-width: 376px) and (max-device-width: 414px){
    .navbar {
        background-color: #ffffffff !important;
        background: #fff !important;
        z-index: 999;
        width: 100%;
        opacity: 1;
        position: sticky !important;
        top:0;
        display: block;
    }
    .hero-tagline, .meet-h1, .clean-tagline{
        font-size: 36px;
    }
    .hero-text, .hero-text > a, .footer-text {
        font-size: 18px;
    }
    .hero-text > a {
        margin: 25px auto 30px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .meet-tagline, .clean-tagline{
        font-size: 32px;
        margin-top: 30px;
    }
    .meet-img {
        margin-top: 30px;
    }
    .meet-yellow-glove {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px; 
    }
    .ease-img {
        max-width: 50%;
        max-height: 40%;
        margin: 15px auto 25px;
        display: block;
    }    
    .ease-text {
        width: 80%;
        text-align: center;
        display: block;
        margin: 15px auto 0;
        font-size: 18px;
    }
    .discount-img {
        width: 90%
    }
    .footer-text > strong {
        font-size: 1.15em;
    }
}

@media screen and (min-width: 415px) and (max-width: 500px){
    .navbar {
        background-color: #ffffffff !important;
        background: #fff !important;
        z-index: 999;
        width: 100%;
        opacity: 1;
        position: sticky !important;
        top:0;
        display: block;
    }
    .hero-img {
        margin-top: 10vh;
    }
    .hero-tagline, .clean-tagline{
        font-size: 36px;
    }
    .hero-text, .hero-text > a {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 25px;
    }
    .hero-text > a {
        margin: 25px auto 25px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .meet-tagline, .clean-tagline{
        font-size: 36px;
        margin-top: 30px;
    }
    .meet-img {
        margin-top: 30px;
    }
    .meet-yellow-glove {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px; 
    }
    .ease-img {
        max-width: 50%;
        max-height: 40%;
        margin: 15px auto 25px;
        display: block;
    }    
    .ease-text {
        width: 80%;
        text-align: center;
        display: block;
        margin: 15px auto 0;
        font-size: 18px;
    }
    .discount-img {
        width: 90%
    }
    .footer-text > strong {
        font-size: 1.35em;
    }
}

@media screen and (min-device-width: 501px) and (max-device-width: 768px){
    .navbar {
        background-color: #ffffffff !important;
        background: #fff !important;
        z-index: 999;
        width: 100%;
        opacity: 1;
        position: sticky !important;
        top:0;
        display: block;
    }
    .hero-img {
        margin-top: 10vh;
    }
    .hero-tagline, .clean-tagline, .meet-h1{
        font-size: 48px;
    }
    .hero-text, .hero-text > a {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .hero-text > a {
        margin: 25px auto 25px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 10px auto 0 !important
    }
    .meet-tagline, .clean-tagline{
        font-size: 38px;
        margin-top: 30px;
    }
    .meet-img {
        margin-top: 30px;
    }
    .meet-yellow-glove {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px; 
    }
    .ease-img {
        max-width: 50%;
        max-height: 60%;
        margin: 25px auto 25px;
        display: block;
    }    
    .ease-text {
        width: 50%;
        text-align: center;
        display: block;
        margin: 15px auto 25px;
        font-size: 21px;
    }
    .discount-img {
        width: 90%
    }
    .footer-text{
        font-size: 18px;
    }
    .footer-img {
        width: 50%;
    }
    .footer-text > strong {
        font-size: 1.15em;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 991px) {    
    .hero-img {
        margin-top: 10vh;
    }
    .hero-tagline, .clean-tagline, .meet-h1{
        font-size: 48px;
    }
    .hero-text, .hero-text > a {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .hero-text > a {
        margin: 25px auto 25px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 10px auto 0 !important
    }
    .meet-tagline, .clean-tagline{
        font-size: 38px;
        margin-top: 30px;
    }
    .meet-img {
        margin-top: 30px;
    }
    .meet-yellow-glove {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px; 
    }
    .ease-img {
        max-width: 50%;
        max-height: 60%;
        margin: 25px auto 25px;
        display: block;
    }    
    .ease-text {
        width: 50%;
        text-align: center;
        display: block;
        margin: 15px auto 25px;
        font-size: 21px;
    }
    .discount-img {
        width: 90%
    }
    .footer-text{
        font-size: 18px;
    }
    .footer-img {
        width: 50%;
    }
    .footer-text > strong {
        font-size: 1.15em;
    }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1198px) {    
    .hero-img {
        margin-top: 10vh;
    }
    .hero-tagline, .clean-tagline, .meet-h1{
        font-size: 48px;
    }
    .hero-text, .hero-text > a {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .hero-text > a {
        margin: 25px auto 25px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 10px auto 0 !important
    }
    .meet-tagline, .clean-tagline{
        font-size: 38px;
        margin-top: 30px;
    }
    .meet-img {
        margin-top: 30px;
    }
    .meet-yellow-glove {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
    }
    .services {
        padding-top: 50px;
        padding-bottom: 50px; 
    }
    .ease-img {
        max-width: 50%;
        max-height: 60%;
        margin: 25px auto 25px;
        display: block;
    }    
    .ease-text {
        width: 50%;
        text-align: center;
        display: block;
        margin: 15px auto 25px;
        font-size: 21px;
    }
    .discount-img {
        width: 90%
    }
    .footer-text{
        font-size: 18px;
    }
    .footer-img {
        width: 50%;
    }
    .footer-text > strong {
        font-size: 1.15em;
    }
}

@media screen and (min-device-width: 1199px) and (max-device-width: 1439px){
    .hero-tagline, .meet-h1{
        font-size: 48px;
    }
    .hero-text, .hero-text > a {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .hero-text > a {
        margin: 25px auto 25px !important;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0;
    }
    .meet-tagline {
        margin-top: 18vh;
        font-size: 36px;
    }
    .meet-yellow-glove {
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .services-tagline {
        margin-top: 15vh;
    }
    .clean-img {
        margin-top: 10vh;
    }
    .clean-tagline {
        margin-top: 20vh;
    }    
    .footer-text{
        font-size: 14px !important;
    }
    .footer-text > strong {
        font-size: 1.35em;
    }
}

@media screen and (min-device-width: 1440px) and (max-device-width: 1679px){
    .container {
        max-width: 85%;
    }
    .hero-tagline, .meet-h1 {
        font-size: 3.5em;
    }
    .meet-tagline {
        font-size: 2.5em;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .hero-text {
        font-size: 18px;
    }
    .hero-text > a {
        font-size: 16px;
    }
    .meet-tagline {
        margin-top: 20vh;
        font-size: 36px;
    }
    .meet-yellow-glove {
        margin-top: 150px;
        padding-bottom: 100px;
        padding-top: 100px;
    }
    .services {
        padding-top: 100px;
        padding-bottom: 150px; 
    }
    .services-tagline {
        margin-top: 18vh;
    }
    .clean-img {
        margin-top: 10vh;
    }
    .clean-tagline {
        margin-top: 25vh;
    }
    .ease-img {
        margin-top: 15vh;
    }
    .footer-text, .footer-text > a {
        font-size: 16px !important;
    }
}

@media screen and (min-device-width: 1680px) and (max-device-width: 1919px){
    .container {
        max-width: 85%;
    }
    .hero-tagline, .meet-h1 {
        font-size: 4em;
    }
    .hero-text {
        font-size: 21px;
        margin-bottom: 20px;
    }
    .hero-text > a {
        font-size: 18px;
        padding: 12px 25px;
    }
    .hero-img {
        max-width: 100% !important;
        margin-top: 20vh;
    }
    .nav-item > a {
        font-size: 16px !important;
    }
    .meet-tagline {
        margin-top: 20vh;
        font-size: 42px;
    }
    .meet-yellow-glove {
        margin-top: 150px;
        padding-bottom: 150px;
        padding-top: 100px;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .services {
        padding-top: 100px;
        padding-bottom: 200px; 
    }
    .services-tagline {
        margin-top: 18vh;
    }
    .clean-img {
        margin-top: 10vh;
    }
    .clean-tagline {
        margin-top: 25vh;
        font-size: 48px;
    }
    .ease-img {
        margin-top: 20vh;
    }
    .ease-text {
        font-size: 21px;
    }
    .footer-text {
        font-size: 16px !important;
    }
    .footer-text > strong {
        font-size: 1.5em;
    }
    .footer {
        padding-left: 6%;
    }
}

@media screen and (min-width: 1920px) and (max-width: 2559px){
    .container {
        max-width: 80%;
    }
    .hero-tagline, .meet-h1 {
        font-size: 4em;
    }
    .hero-text, p, p + ul > li {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .hero-text > a {
        font-size: 21px;
        padding: 12px 25px;
    }
    #terms-of-service{ 
        font-size: 64px;
    }
    h3 {
        font-size: 48px;
    }
    .hero-img {
        max-width: 100% !important;
        margin-top: 20vh;
    }
    .nav-item > a {
        font-size: 18px !important;
    }
    .meet-tagline {
        margin-top: 20vh;
        font-size: 42px;
    }
    .meet-yellow-glove {
        margin-top: 150px;
        padding-bottom: 150px;
        padding-top: 100px;
    }
    .services {
        padding-top: 120px;
        padding-bottom: 180px; 
    }
    .services-tagline {
        margin-top: 15vh;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .clean-img {
        margin-top: 10vh;
    }
    .clean-tagline {
        margin-top: 22vh;
        font-size: 48px;
    }
    .ease-img {
        margin-top: 20vh;
    }
    h4 {
        font-size: 32px;
    }
    .ease-text {
        font-size: 24px;
    }
    .footer-text {
        font-size: 16px !important;
    }
    .footer-text > strong {
        font-size: 1.5em;
    }
    .footer {
        padding-left: 6%;
    }
}

@media screen and (min-device-width: 2560px) and (max-device-width: 3000px){
    .container {
        max-width: 80%;
    }
    .navbar-brand > a > img  {
        width: 300px;
    }
    .hero-tagline, .meet-h1 {
        font-size: 6em;
    }
    #terms-of-service{ 
        font-size: 64px;
    }
    h3 {
        font-size: 48px;
    }
    .hero-text, p, li > ul, p + ul > li {
        font-size: 32px;
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .hero-text > a {
        font-size: 28px;
        padding: 25px 35px;
    }
    .hero-img {
        width: 180% !important;
        margin-top: 20vh;
    }
    .nav-item > a {
        font-size: 24px !important;
        margin-left: 80px;
    }
    .meet-tagline, .clean-tagline {
        margin-top: 18vh;
        font-size: 54px;
    }
    .meet-yellow-glove {
        margin-top: 250px;
        padding-bottom: 200px;
        padding-top: 200px;
    }
    .services {
        padding-top: 220px;
        padding-bottom: 280px; 
    }
    .services-tagline {
        margin-top: 13vh;
    }
    .mob-hide {
        display: block;
        content: " ";
        margin: 5px auto 0 !important
    }
    .clean-img {
        margin-top: 10vh;
    }
    .clean-tagline {
        margin-top: 22vh;
        font-size: 64px;
    }
    .ease-img {
        max-width: 60%;
        max-height: 40%;
        margin: 15vh auto 65px;
        display: block;
    }  
    h4 {
        font-size: 48px;
    }  
    .ease-text {
        width:60%;
        text-align: center;
        display: block;
        margin: 35px auto 0;
        font-size: 28px;
    }
    .footer-img {
        width: 70%;
    }
    .footer-text, .footer-link {
        font-size: 24px !important;
    }
    .footer-text > strong {
        font-size: 1.5em;
    }
    .footer {
        padding-left: 6%;
    }
}


@media screen and (max-width: 768px) {
    .hero-img {
        margin-top: 5vh;
    }
    .hero-tagline{
        margin-top: 25px;
    }
}